In [2]:
import pandas as pd

# Baca file CSV
file_path = 'data_stasiun.csv'
data = pd.read_csv(file_path)

In [3]:
# Tampilkan info data
print("Informasi Data:")
print(data.info())

Informasi Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fcode         760 non-null    object
 1   nama stasiun  795 non-null    object
 2   kode stasiun  792 non-null    object
 3   kd_prov       795 non-null    int64
 4   kabkot        795 non-null    object
 5   provinsi      795 non-null    object
 6   srs_id        760 non-null    object
 7   objectid      795 non-null    int64
dtypes: int64(2), object(6)
memory usage: 49.8+ KB
None

In [4]:
# Hitung banyak data
jumlah_data = len(data)
print("\nJumlah Data:", jumlah_data)

Jumlah Data: 795

In [5]:
# Temukan nilai yang kosong (NULL)
nilai_kosong = data.isnull().sum()
print("\nNilai Kosong (NULL):")
print(nilai_kosong)

Nilai Kosong (NULL):
fcode           35
nama stasiun     0
kode stasiun     3
kd_prov          0
kabkot           0
provinsi         0
srs_id          35
objectid         0
dtype: int64

In [6]:
# Hapus baris dengan nilai kosong
data_tanpa_kosong = data.dropna()

In [7]:
# Tampilkan info data setelah penghapusan nilai kosong
print("\nInformasi Data setelah Penghapusan Nilai Kosong:")
print(data_tanpa_kosong.info())

Informasi Data setelah Penghapusan Nilai Kosong:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 758 entries, 0 to 794
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fcode         758 non-null    object
 1   nama stasiun  758 non-null    object
 2   kode stasiun  758 non-null    object
 3   kd_prov       758 non-null    int64
 4   kabkot        758 non-null    object
 5   provinsi      758 non-null    object
 6   srs_id        758 non-null    object
 7   objectid      758 non-null    int64
dtypes: int64(2), object(6)
memory usage: 53.3+ KB
None

In [8]:
# Temukan nilai yang kosong (NULL)
nilai_kosong = data_tanpa_kosong.isnull().sum()
print("\nNilai Kosong (NULL):")
print(nilai_kosong)

Nilai Kosong (NULL):
fcode           0
nama stasiun    0
kode stasiun    0
kd_prov         0
kabkot          0
provinsi        0
srs_id          0
objectid        0
dtype: int64

In [9]:
data_tanpa_kosong

,fcode,nama stasiun,kode stasiun,kd_prov,kabkot,provinsi,srs_id,objectid
0,CD01050140,AIR ASAM,AIS/ASM,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,107
1,CD01050140,Lambaro,LRO,11,KAB. ACEH BESAR,ACEH,WGS 1984,1
2,CD01050140,LECES,LEC,35,KAB. PROBOLINGGO,JAWA TIMUR,WGS 1984,623
3,CD01050140,PROBOLINGGO,PB,35,KAB. PROBOLINGGO,JAWA TIMUR,WGS 1984,624
4,CD01050140,GRATI,GI,35,KOTA PASURUAN,JAWA TIMUR,WGS 1984,738
...,...,...,...,...,...,...,...,...
790,CD01050140,BUKIT TINGGI,BUK/BKT,13,KOTA BUKITTINGGI,SUMATERA BARAT,WGS 1984,93
791,CD01050140,Payakumbuh,-,13,KOTA PAYAKUMBUH,SUMATERA BARAT,WGS 1984,94
792,CD01050140,KURAI TADJI,KI,13,KOTA PARIAMAN,SUMATERA BARAT,WGS 1984,95
793,CD01050140,Talangpadang,TLP,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,120
794,CD01050140,Tanjung Terang,TTR,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,121

In [10]:
data_tanpa_kosong

,fcode,nama stasiun,kode stasiun,kd_prov,kabkot,provinsi,srs_id,objectid
0,CD01050140,AIR ASAM,AIS/ASM,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,107
1,CD01050140,Lambaro,LRO,11,KAB. ACEH BESAR,ACEH,WGS 1984,1
2,CD01050140,LECES,LEC,35,KAB. PROBOLINGGO,JAWA TIMUR,WGS 1984,623
3,CD01050140,PROBOLINGGO,PB,35,KAB. PROBOLINGGO,JAWA TIMUR,WGS 1984,624
4,CD01050140,GRATI,GI,35,KOTA PASURUAN,JAWA TIMUR,WGS 1984,738
...,...,...,...,...,...,...,...,...
790,CD01050140,BUKIT TINGGI,BUK/BKT,13,KOTA BUKITTINGGI,SUMATERA BARAT,WGS 1984,93
791,CD01050140,Payakumbuh,-,13,KOTA PAYAKUMBUH,SUMATERA BARAT,WGS 1984,94
792,CD01050140,KURAI TADJI,KI,13,KOTA PARIAMAN,SUMATERA BARAT,WGS 1984,95
793,CD01050140,Talangpadang,TLP,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,120
794,CD01050140,Tanjung Terang,TTR,16,KAB. MUARA ENIM,SUMATERA SELATAN,WGS 1984,121

In [11]:
import pandas as pd
import random
import string

# Fungsi untuk membuat kode unik
def generate_kode_unik(huruf_stasiun):
    angka_acak = ''.join(random.choices(string.digits, k=4))
    kode_baru = huruf_stasiun + angka_acak
    return kode_baru

# # Baca file CSV
# file_path = 'path/to/your/file.csv'
# data = pd.read_csv(file_path)

# # Hapus baris dengan nilai kosong
# data_tanpa_kosong = data.dropna()

# Tambahkan kolom 'kode_unik' berdasarkan 'kode stasiun'
data_tanpa_kosong['kode_unik'] = data_tanpa_kosong['fcode'].apply(lambda x: generate_kode_unik(x[:]))

# Tampilkan hasil
print(data_tanpa_kosong[['fcode', 'kode_unik']])

          fcode       kode_unik
0    CD01050140  CD010501407859
1    CD01050140  CD010501409631
2    CD01050140  CD010501408329
3    CD01050140  CD010501407317
4    CD01050140  CD010501406014
..          ...             ...
790  CD01050140  CD010501400783
791  CD01050140  CD010501403378
792  CD01050140  CD010501408960
793  CD01050140  CD010501400469
794  CD01050140  CD010501404729

[758 rows x 2 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\303737836.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['kode_unik'] = data_tanpa_kosong['fcode'].apply(lambda x: generate_kode_unik(x[:]))

In [12]:
import pandas as pd
import random

# Fungsi untuk menghasilkan jam acak dengan selisih antara waktu berangkat dan datang
def generate_jam_acak_berangkat():
    jam = random.randint(0, 23)
    menit = random.randint(0, 59)
    return f"{jam:02d}:{menit:02d}"

def generate_jam_acak_datang(berangkat):
    jam_berangkat = int(berangkat.split(':')[0])
    menit_berangkat = int(berangkat.split(':')[1])

    selisih_jam = random.randint(0, 11)  # Selisih maksimal 11 jam
    selisih_menit = random.randint(2, 59)  # Selisih minimal 2 menit dan maksimal 59 menit

    jam_datang = (jam_berangkat + selisih_jam) % 24
    menit_datang = (menit_berangkat + selisih_menit) % 60

    return f"{jam_datang:02d}:{menit_datang:02d}"

# Tambahkan kolom 'waktu_berangkat' dan 'waktu_datang'
data_tanpa_kosong['waktu_berangkat'] = [generate_jam_acak_berangkat() for _ in range(len(data_tanpa_kosong))]
data_tanpa_kosong['waktu_datang'] = data_tanpa_kosong['waktu_berangkat'].apply(generate_jam_acak_datang)

# Tampilkan hasil
print(data_tanpa_kosong)

          fcode    nama stasiun kode stasiun  kd_prov            kabkot  \
0    CD01050140        AIR ASAM      AIS/ASM       16   KAB. MUARA ENIM
1    CD01050140         Lambaro          LRO       11   KAB. ACEH BESAR
2    CD01050140           LECES          LEC       35  KAB. PROBOLINGGO
3    CD01050140     PROBOLINGGO           PB       35  KAB. PROBOLINGGO
4    CD01050140           GRATI           GI       35     KOTA PASURUAN
..          ...             ...          ...      ...               ...
790  CD01050140    BUKIT TINGGI      BUK/BKT       13  KOTA BUKITTINGGI
791  CD01050140      Payakumbuh            -       13   KOTA PAYAKUMBUH
792  CD01050140     KURAI TADJI           KI       13     KOTA PARIAMAN
793  CD01050140    Talangpadang          TLP       16   KAB. MUARA ENIM
794  CD01050140  Tanjung Terang          TTR       16   KAB. MUARA ENIM

             provinsi    srs_id  objectid       kode_unik waktu_berangkat  \
0    SUMATERA SELATAN  WGS 1984       107  CD010501407859           05:17
1                ACEH  WGS 1984         1  CD010501409631           07:50
2          JAWA TIMUR  WGS 1984       623  CD010501408329           05:12
3          JAWA TIMUR  WGS 1984       624  CD010501407317           16:35
4          JAWA TIMUR  WGS 1984       738  CD010501406014           15:48
..                ...       ...       ...             ...             ...
790    SUMATERA BARAT  WGS 1984        93  CD010501400783           06:18
791    SUMATERA BARAT  WGS 1984        94  CD010501403378           23:33
792    SUMATERA BARAT  WGS 1984        95  CD010501408960           03:46
793  SUMATERA SELATAN  WGS 1984       120  CD010501400469           09:47
794  SUMATERA SELATAN  WGS 1984       121  CD010501404729           20:14

    waktu_datang
0          10:30
1          15:33
2          05:11
3          23:59
4          00:12
..           ...
790        06:27
791        10:00
792        11:25
793        19:40
794        03:34

[758 rows x 11 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\3458743604.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['waktu_berangkat'] = [generate_jam_acak_berangkat() for _ in range(len(data_tanpa_kosong))]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\3458743604.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['waktu_datang'] = data_tanpa_kosong['waktu_berangkat'].apply(generate_jam_acak_datang)

In [13]:
from datetime import datetime, timedelta
import pandas as pd
import random

# Fungsi untuk menghasilkan tanggal acak dalam rentang tertentu
def generate_tanggal_acak(start_date, end_date):
    start_datetime = datetime.strptime(start_date, '%m/%d/%Y')
    end_datetime = datetime.strptime(end_date, '%m/%d/%Y')
    
    days_difference = (end_datetime - start_datetime).days
    random_days = random.randint(0, days_difference)
    
    tanggal_acak = start_datetime + timedelta(days=random_days)
    return tanggal_acak.strftime('%m/%d/%Y')

# Tambahkan kolom 'tanggal'
start_date = '12/10/2023'
end_date = '01/05/2024'
data_tanpa_kosong['tanggal'] = [generate_tanggal_acak(start_date, end_date) for _ in range(len(data_tanpa_kosong))]

# Tampilkan hasil
print(data_tanpa_kosong)

          fcode    nama stasiun kode stasiun  kd_prov            kabkot  \
0    CD01050140        AIR ASAM      AIS/ASM       16   KAB. MUARA ENIM
1    CD01050140         Lambaro          LRO       11   KAB. ACEH BESAR
2    CD01050140           LECES          LEC       35  KAB. PROBOLINGGO
3    CD01050140     PROBOLINGGO           PB       35  KAB. PROBOLINGGO
4    CD01050140           GRATI           GI       35     KOTA PASURUAN
..          ...             ...          ...      ...               ...
790  CD01050140    BUKIT TINGGI      BUK/BKT       13  KOTA BUKITTINGGI
791  CD01050140      Payakumbuh            -       13   KOTA PAYAKUMBUH
792  CD01050140     KURAI TADJI           KI       13     KOTA PARIAMAN
793  CD01050140    Talangpadang          TLP       16   KAB. MUARA ENIM
794  CD01050140  Tanjung Terang          TTR       16   KAB. MUARA ENIM

             provinsi    srs_id  objectid       kode_unik waktu_berangkat  \
0    SUMATERA SELATAN  WGS 1984       107  CD010501407859           05:17
1                ACEH  WGS 1984         1  CD010501409631           07:50
2          JAWA TIMUR  WGS 1984       623  CD010501408329           05:12
3          JAWA TIMUR  WGS 1984       624  CD010501407317           16:35
4          JAWA TIMUR  WGS 1984       738  CD010501406014           15:48
..                ...       ...       ...             ...             ...
790    SUMATERA BARAT  WGS 1984        93  CD010501400783           06:18
791    SUMATERA BARAT  WGS 1984        94  CD010501403378           23:33
792    SUMATERA BARAT  WGS 1984        95  CD010501408960           03:46
793  SUMATERA SELATAN  WGS 1984       120  CD010501400469           09:47
794  SUMATERA SELATAN  WGS 1984       121  CD010501404729           20:14

    waktu_datang     tanggal
0          10:30  12/20/2023
1          15:33  12/26/2023
2          05:11  01/02/2024
3          23:59  12/26/2023
4          00:12  12/11/2023
..           ...         ...
790        06:27  12/19/2023
791        10:00  12/25/2023
792        11:25  12/14/2023
793        19:40  12/30/2023
794        03:34  12/12/2023

[758 rows x 12 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\79657106.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['tanggal'] = [generate_tanggal_acak(start_date, end_date) for _ in range(len(data_tanpa_kosong))]

In [14]:
import pandas as pd
import random

# Daftar Nama Kereta Api
nama_kereta_api = [
    'Argo Bromo Anggrek', 'Argo Dwipangga', 'New Argo Jati', 'Argo Lawu', 
    'Argo Muria', 'Argo Parahyangan', 'Argo Sindoro', 'Argo Wilis',  
    'Bangunkarta', 'Bima', 'Gajayana', 'Sembrani', 'Taksaka', 'Turangga',
    'Argo Mawar', 'Gajayana', 'Muntilan', 'Jayakarta', 'Orchid Jaya'
]

# Fungsi untuk menghasilkan kelas kereta acak
def generate_kelas_acak():
    kelas_kereta = ['Ekonomi', 'Bisnis', 'Eksekutif', 'Premium', 'Pariwisata']
    return random.choice(kelas_kereta)

# Fungsi untuk memetakan kelas ke nama kereta, kapasitas, dan harga
def map_kelas_to_info(kelas):
    if kelas == 'Ekonomi':
        return random.choice(nama_kereta_api), 200, 100000
    elif kelas == 'Bisnis':
        return random.choice(nama_kereta_api), 150, 200000
    elif kelas == 'Eksekutif':
        return random.choice(nama_kereta_api), 100, 300000
    elif kelas == 'Premium':
        return random.choice(nama_kereta_api), 50, 400000
    elif kelas == 'Pariwisata':
        return random.choice(nama_kereta_api), 30, 500000


# Tambahkan kolom 'kelas'
data_tanpa_kosong['kelas'] = [generate_kelas_acak() for _ in range(len(data_tanpa_kosong))]

# Tambahkan kolom 'nama_kereta' dan 'kapasitas' berdasarkan kelas
data_tanpa_kosong[['nama_kereta', 'kapasitas',"harga"]] = pd.DataFrame(data_tanpa_kosong['kelas'].apply(map_kelas_to_info).tolist(), index=data_tanpa_kosong.index)
# Tampilkan hasil
print(data_tanpa_kosong)

          fcode    nama stasiun kode stasiun  kd_prov            kabkot  \
0    CD01050140        AIR ASAM      AIS/ASM       16   KAB. MUARA ENIM
1    CD01050140         Lambaro          LRO       11   KAB. ACEH BESAR
2    CD01050140           LECES          LEC       35  KAB. PROBOLINGGO
3    CD01050140     PROBOLINGGO           PB       35  KAB. PROBOLINGGO
4    CD01050140           GRATI           GI       35     KOTA PASURUAN
..          ...             ...          ...      ...               ...
790  CD01050140    BUKIT TINGGI      BUK/BKT       13  KOTA BUKITTINGGI
791  CD01050140      Payakumbuh            -       13   KOTA PAYAKUMBUH
792  CD01050140     KURAI TADJI           KI       13     KOTA PARIAMAN
793  CD01050140    Talangpadang          TLP       16   KAB. MUARA ENIM
794  CD01050140  Tanjung Terang          TTR       16   KAB. MUARA ENIM

             provinsi    srs_id  objectid       kode_unik waktu_berangkat  \
0    SUMATERA SELATAN  WGS 1984       107  CD010501407859           05:17
1                ACEH  WGS 1984         1  CD010501409631           07:50
2          JAWA TIMUR  WGS 1984       623  CD010501408329           05:12
3          JAWA TIMUR  WGS 1984       624  CD010501407317           16:35
4          JAWA TIMUR  WGS 1984       738  CD010501406014           15:48
..                ...       ...       ...             ...             ...
790    SUMATERA BARAT  WGS 1984        93  CD010501400783           06:18
791    SUMATERA BARAT  WGS 1984        94  CD010501403378           23:33
792    SUMATERA BARAT  WGS 1984        95  CD010501408960           03:46
793  SUMATERA SELATAN  WGS 1984       120  CD010501400469           09:47
794  SUMATERA SELATAN  WGS 1984       121  CD010501404729           20:14

    waktu_datang     tanggal       kelas       nama_kereta  kapasitas   harga
0          10:30  12/20/2023   Eksekutif         Jayakarta        100  300000
1          15:33  12/26/2023     Ekonomi  Argo Parahyangan        200  100000
2          05:11  01/02/2024     Premium          Muntilan         50  400000
3          23:59  12/26/2023      Bisnis        Argo Mawar        150  200000
4          00:12  12/11/2023      Bisnis       Bangunkarta        150  200000
..           ...         ...         ...               ...        ...     ...
790        06:27  12/19/2023   Eksekutif          Gajayana        100  300000
791        10:00  12/25/2023  Pariwisata      Argo Sindoro         30  500000
792        11:25  12/14/2023  Pariwisata           Taksaka         30  500000
793        19:40  12/30/2023     Premium         Jayakarta         50  400000
794        03:34  12/12/2023  Pariwisata      Argo Sindoro         30  500000

[758 rows x 16 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\2387771004.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['kelas'] = [generate_kelas_acak() for _ in range(len(data_tanpa_kosong))]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\2387771004.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong[['nama_kereta', 'kapasitas',"harga"]] = pd.DataFrame(data_tanpa_kosong['kelas'].apply(map_kelas_to_info).tolist(), index=data_tanpa_kosong.index)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\2387771004.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong[['nama_kereta', 'kapasitas',"harga"]] = pd.DataFrame(data_tanpa_kosong['kelas'].apply(map_kelas_to_info).tolist(), index=data_tanpa_kosong.index)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\2387771004.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong[['nama_kereta', 'kapasitas',"harga"]] = pd.DataFrame(data_tanpa_kosong['kelas'].apply(map_kelas_to_info).tolist(), index=data_tanpa_kosong.index)

In [15]:
import pandas as pd
import random
import string

# Fungsi untuk membuat kode unik
def generate_kode_unik(huruf_stasiun, existing_codes, max_attempts=100):
    for _ in range(max_attempts):
        angka_acak = ''.join(random.choices(string.digits, k=4))
        kode_baru = huruf_stasiun + angka_acak
        if kode_baru not in existing_codes:
            existing_codes.add(kode_baru)  # Tambahkan ke set untuk memastikan keunikan
            return kode_baru
    raise ValueError(f"Tidak dapat menemukan kode unik yang unik setelah {max_attempts} percobaan.")


# Inisialisasi himpunan yang berisi kode unik yang sudah ada
existing_codes = set(data_tanpa_kosong['kode_unik'])

# Tambahkan kolom 'kode_unik' berdasarkan 'kode stasiun'
data_tanpa_kosong['kode_unik'] = data_tanpa_kosong.apply(lambda row: generate_kode_unik(row['fcode'], existing_codes), axis=1)

# Tampilkan hasil
print(data_tanpa_kosong[['fcode', 'kode_unik']])

          fcode       kode_unik
0    CD01050140  CD010501400044
1    CD01050140  CD010501406427
2    CD01050140  CD010501407872
3    CD01050140  CD010501409275
4    CD01050140  CD010501402659
..          ...             ...
790  CD01050140  CD010501400510
791  CD01050140  CD010501409890
792  CD01050140  CD010501400279
793  CD01050140  CD010501409628
794  CD01050140  CD010501405435

[758 rows x 2 columns]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\3731643663.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tanpa_kosong['kode_unik'] = data_tanpa_kosong.apply(lambda row: generate_kode_unik(row['fcode'], existing_codes), axis=1)

In [33]:
import pandas as pd

# Baca file CSV
file_path = 'basdat.csv'
data = pd.read_csv(file_path)

In [34]:
import pandas as pd

# Fungsi untuk memetakan kelas ke harga
def map_kelas_to_harga(kelas):
    mapping = {
        'Ekonomi': 100000,
        'Bisnis': 200000,
        'Pariwisata': 300000,  # Ubah nilainya sesuai kebutuhan Anda
        'Premium': 400000,
        'Eksekutif': 500000
    }
    return mapping.get(kelas, 0)


# Tambahkan kolom 'harga' berdasarkan kelas
data['harga'] = data['kelas'].apply(map_kelas_to_harga)

data

,fcode,nama stasiun,kode stasiun,kd_prov,kabkot,provinsi,kode_unik,waktu_berangkat,waktu_datang,tanggal,kelas,nama_kereta,kapasitas,objectid,harga
0,CD01050140,AIR ASAM,AIS/ASM,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501402119,23:26,2:07,12/14/2023,Eksekutif,Argo Sindoro,100,107,500000
1,CD01050140,Lambaro,LRO,11,KAB. ACEH BESAR,ACEH,CD010501409327,11:32,21:13,12/17/2023,Pariwisata,Argo Wilis,30,1,300000
2,CD01050140,LECES,LEC,35,KAB. PROBOLINGGO,JAWA TIMUR,CD010501408282,20:08,23:22,12/22/2023,Bisnis,Turangga,150,623,200000
3,CD01050140,PROBOLINGGO,PB,35,KAB. PROBOLINGGO,JAWA TIMUR,CD010501407549,17:09,1:35,12/29/2023,Pariwisata,Bima,30,624,300000
4,CD01050140,GRATI,GI,35,KOTA PASURUAN,JAWA TIMUR,CD010501402246,4:31,7:34,12/11/2023,Pariwisata,Argo Bromo Anggrek,30,738,300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,CD01050140,BUKIT TINGGI,BUK/BKT,13,KOTA BUKITTINGGI,SUMATERA BARAT,CD010501404233,6:47,10:45,1/4/2024,Pariwisata,Bangunkarta,30,93,300000
754,CD01050140,Payakumbuh,PYK,13,KOTA PAYAKUMBUH,SUMATERA BARAT,CD010501404885,19:06,3:30,1/1/2024,Pariwisata,Argo Mawar,30,94,300000
755,CD01050140,KURAI TADJI,KI,13,KOTA PARIAMAN,SUMATERA BARAT,CD010501401085,1:52,6:02,12/10/2023,Eksekutif,Argo Lawu,100,95,500000
756,CD01050140,Talangpadang,TLP,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501409769,2:33,9:23,12/14/2023,Bisnis,Taksaka,150,120,200000
757,CD01050140,Tanjung Terang,TTR,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501400317,9:23,17:48,12/11/2023,Pariwisata,Bima,30,121,300000

In [35]:
# Menyimpan DataFrame ke dalam file CSV
output_file_path = 'basdat.csv'
data.to_csv(output_file_path, index=False)
data

,fcode,nama stasiun,kode stasiun,kd_prov,kabkot,provinsi,kode_unik,waktu_berangkat,waktu_datang,tanggal,kelas,nama_kereta,kapasitas,objectid,harga
0,CD01050140,AIR ASAM,AIS/ASM,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501402119,23:26,2:07,12/14/2023,Eksekutif,Argo Sindoro,100,107,500000
1,CD01050140,Lambaro,LRO,11,KAB. ACEH BESAR,ACEH,CD010501409327,11:32,21:13,12/17/2023,Pariwisata,Argo Wilis,30,1,300000
2,CD01050140,LECES,LEC,35,KAB. PROBOLINGGO,JAWA TIMUR,CD010501408282,20:08,23:22,12/22/2023,Bisnis,Turangga,150,623,200000
3,CD01050140,PROBOLINGGO,PB,35,KAB. PROBOLINGGO,JAWA TIMUR,CD010501407549,17:09,1:35,12/29/2023,Pariwisata,Bima,30,624,300000
4,CD01050140,GRATI,GI,35,KOTA PASURUAN,JAWA TIMUR,CD010501402246,4:31,7:34,12/11/2023,Pariwisata,Argo Bromo Anggrek,30,738,300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,CD01050140,BUKIT TINGGI,BUK/BKT,13,KOTA BUKITTINGGI,SUMATERA BARAT,CD010501404233,6:47,10:45,1/4/2024,Pariwisata,Bangunkarta,30,93,300000
754,CD01050140,Payakumbuh,PYK,13,KOTA PAYAKUMBUH,SUMATERA BARAT,CD010501404885,19:06,3:30,1/1/2024,Pariwisata,Argo Mawar,30,94,300000
755,CD01050140,KURAI TADJI,KI,13,KOTA PARIAMAN,SUMATERA BARAT,CD010501401085,1:52,6:02,12/10/2023,Eksekutif,Argo Lawu,100,95,500000
756,CD01050140,Talangpadang,TLP,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501409769,2:33,9:23,12/14/2023,Bisnis,Taksaka,150,120,200000
757,CD01050140,Tanjung Terang,TTR,16,KAB. MUARA ENIM,SUMATERA SELATAN,CD010501400317,9:23,17:48,12/11/2023,Pariwisata,Bima,30,121,300000